.collage {
    background-image: url("img/Studio_Project (2).jpeg");
    animation: mymove 5s infinite;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

@keyframes mymove {
  50% {background-position: center;}
}

h1 {
    padding-top: 40vh;
    font-size: 50pt;
    text-align: center;
}

.description {
    padding: 1.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    background-color: lightgrey;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    box-shadow: 0px 10px 5px 10px black;

}

div.form
{
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    float: left;
    margin-left: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    padding: 2.5rem;
    width: 35rem;
    background-color: dimgrey;
    box-shadow: 0px 10px 5px 10px black;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body {
    background-image: linear-gradient(180deg, white 50%, steelblue 70%, black);
}